@model IEnumerable<IntegralInvesting.Models.BankAccountViewModel>

@{
    ViewData["Title"] = "Bank Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-3 mb-2">
    <div><h4>Current Funds in Account: @ViewData["CurrentUserFunds"]</h4></div>
    <div style="margin-left: 2em">
        <a asp-controller="BankAccount" asp-action="LinkNewAccount" class="btn btn-warning">Deposit</a>
        <a asp-controller="BankAccount" asp-action="WithdrawFunds" class="btn btn-warning">Withdraw</a>
    </div>
</div>


<div class="d-flex justify-content-between mt-3 mb-2">
    <div><h2>Bank Accounts</h2></div>
    <div>
        <a asp-controller="BankAccount" asp-action="LinkNewAccount" class="btn btn-warning">Link New Account</a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BankAccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BankAccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BankAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
