@model IntegralInvesting.Models.StockDetailsViewModel

@{ ViewData["Title"] = "Purchase Stocks"; }

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <h4>@ViewData["ErrorMessage"]</h4>
    }
}

@{
    if (Model.Symbol != null)
    {
        <!-- Purchase button -->
        <a class="btn btn-success" data-modal="" id="btnOpenPurchaseModal" onclick="OpenPurchaseSharesModal('@ViewData["StockName"]', '@ViewData["Price"]', '@ViewData["Symbol"]')">
            Purchase
        </a>

        <h4>@ViewData["StockName"]</h4>
        <h4>@ViewData["Price"]</h4>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.High)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Low)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Volume)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.High)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Low)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Volume)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        TimeStamp
                    </th>
                    <th>
                        High
                    </th>
                    <th>
                        Low
                    </th>
                    <th>
                        Open
                    </th>
                    <th>
                        Close
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.StockTimeDetailsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.High)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Low)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Open)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Close)
                            </td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    }
}

