@model IEnumerable<IntegralInvesting.Models.StockDetailsViewModel>

@{ ViewData["Title"] = "Purchase Stocks"; }

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <h4>@ViewData["ErrorMessage"]</h4>
    }
}

@{
    if (Model.Any())
    {
        <!-- Purchase button -->
        <a class="btn btn-success" data-modal="" id="btnOpenPurchaseModal" onclick="OpenPurchaseSharesModal('@ViewData["StockName"]', '@ViewData["LatestPrice"]', '@ViewData["Symbol"]')">
            Purchase
        </a>

        <h4>@ViewData["StockName"]</h4>
        <h4>@ViewData["LatestPrice"]</h4>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Open)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.High)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Low)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Close)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Volume)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Open)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.High)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Low)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Close)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Volume)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

