@model IEnumerable<IntegralInvesting.Models.PortfolioAssetViewModel>

@{
    int CalculateNumberOfShares(string symbol)
    {
        var portfolioAsset = Model.SingleOrDefault(m => m.Symbol == symbol);

        if (portfolioAsset == null)
            return 0;

        return portfolioAsset.PortfolioStocks.Sum(ps => ps.PurchaseQuantity);
    }
}

@{ ViewData["Title"] = "Portfolio Page"; }

<!-- Sell Shares Modal placeholder -->
<div id="sell-modal-placeholder" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='modal-sell-content'></div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfShares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (var stock in Model)
        {
            <tr>
                <td>
                    @stock.Name
                </td>
                <td>
                    @stock.Symbol
                </td>
                <td>
                    @stock.CurrentPrice
                </td>
                <td>
                    @CalculateNumberOfShares(stock.Symbol)
                </td>
                <td>
                    <!-- Sell button -->
                        <a class="btn btn-success" data-modal="" id="btnOpenSellModal" onclick="OpenSellSharesModal('@stock.Symbol', '@stock.CurrentPrice', '@CalculateNumberOfShares(stock.Symbol)')">
                        Sell Shares
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-4">
            <p>Sample text to be displayed on the left side.</p>
        </div>
        <div class="d-flex col-8">
            <div class="overflow-auto" style="height: 400px">
                @foreach (var item in Model)
                {
                    <div class="card m-2">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="img-fluid rounded-start" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
